.container-login{    display: flex;    align-items: center;       flex-direction: row;}

.card-login-banner{
   width: 50%;    height: 100vh;    background: #5e5ef8;}

.container-login .card-login-banner img{    width: 100%;    height: 100vh;    border-top-right-radius: 10%;    border-bottom-right-radius: 10%;}

.card-login{    width: 50%;    display: flex;    align-items: center;    justify-content: center;    background: linear-gradient(100deg, #5e5ef8 0%, #000002 100%);    height: 100vh;}

.form-login{
    display: flex;
    flex-direction: column;
    color: white;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px #6363ff;
    background: linear-gradient(80deg, #5e5ef8 0%, #000002 100%);
    padding: 10px;
}
.form-login label{    font: 500 18px 'Poppins';    padding: 10px 0;}

.form-login input, .box-inputbtn, .form-login label, .btn-event{    width: 80%;    margin: 0 auto;}

.box-inputbtn input,.form-login input{    font: 400 18px 'Poppins';    padding: 4px 10px;}

.box-inputbtn input{    width: 100%;    padding-right: 30px;}

/* um paragrafo que agrupa o botao que da pra ver a senha mas o input de senha */
.box-inputbtn{    position: relative;}
/* botao que da para ver a senha */
.btn-visibilit{
    color: black;
    width: 20px;
    position: absolute;
    left: 93%;
    bottom: 10px;
}
/* uma div que agrupa dois botoes que executa os eventos de limpar ou entrar */
.btn-event{    padding-block: 30px;    display: flex;    align-items: center;    justify-content: space-evenly;}

.btn-event button{
    padding: 10px 20px;
    font: 600 16px 'Poppins';
    color: white;
    border: none;
    border-radius: 10px;
}
.btn-event button:nth-child(1){    background: rgb(28, 102, 5);}

.btn-event button:nth-child(2){    background: rgb(172, 2, 2);}
@media(max-width: 364px){
    .container-login{    flex-direction: column;    justify-content: space-evenly;}

    .card-login{    height: 100vh;    width: 100%;}

    .form-login input, .box-inputbtn, .form-login label, .btn-event{    width: 100%;}

    .card-login-banner{    display: none;}

    .btn-visibilit{    left: 90%;}

    .btn-event button{    padding: 10px;    font-size: 14px;}

    .box-inputbtn input,.form-login input,.form-login label{     font-size: 16px;    padding: 4px 10px;}
   
}
@media(min-width: 363px) and (max-width: 767px){
    
    .container-login{    flex-direction: column;    justify-content: space-evenly;}

    .card-login, .card-login-banner{    height: 50vh;    width: 100%;}
    
}
@media(min-width: 768px) and (max-width: 1050px){

    .form-login{    width: 95%;}
}