body { font-family: 'Poppins';}

html { scroll-behavior: smooth;}

* { padding: 0;  margin: 0;  box-sizing: border-box; }

::-webkit-scrollbar{ width: 3px; background: black;}

::-webkit-scrollbar-thumb{ background: #c9c9c9;}